#App
NEXT_PUBLIC_APP_NAME=Estate AI Workflow
NODE_ENV=development

#Database (Docker Postgres)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/estate_ai?schema=public

#Mail preview (for later)
MAILDEV_HOST=localhost
MAILDEV_PORT=1080

#LLM (Optional)
OPENAI_API_KEY=
